body, html {
  font-family: sans-serif;
  font-size: var(--sn-stylekit-base-font-size);
  background-color: transparent;
}

.CodeMirror {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: transparent;
  border: none;
  font-size: var(--sn-stylekit-font-size-editor);
}

.editor-toolbar, .editor-toolbar.fullscreen {
  background-color: var(--sn-stylekit-contrast-background-color);
  border-bottom: 1px solid var(--sn-stylekit-border-color);
  overflow: visible; // on windows, if window is too small, horizontal scrollbar will appear fixed without this

  &::before, &::after {
    background: none !important;
  }

}

.editor-toolbar i.separator {
  border-left-color: var(--sn-stylekit-contrast-border-color);
  border-right-color: var(--sn-stylekit-contrast-background-color);
}

.editor-toolbar a {
  color: var(--sn-stylekit-info-color) !important;
  outline: none;
  border-radius: 0;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
  border-color: transparent;
  background: var(--sn-stylekit-background-color);
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: inherit;
}

.editor-preview-active, .editor-preview-active-side {
  background-color: var(--sn-stylekit-contrast-background-color);
  border: 0;
  border-left: 1px solid var(--sn-stylekit-border-color);
  color: var(--sn-stylekit-contrast-foreground-color);
  font-size: var(--sn-stylekit-font-size-editor);
  padding: 10px 15px;

  a {
    color: var(--sn-stylekit-info-color);
  }

  pre {
    background: var(--sn-stylekit-background-color);
    color: var(--sn-stylekit-foreground-color);
    border: 1px solid var(--sn-stylekit-border-color);
    padding: 20px;
    border-radius: 3px;
  }

  table {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: var(--sn-stylekit-border-color);

    th, td {
      padding: 6px 13px;
      border: 1px solid var(--sn-stylekit-border-color);
    }

    tr:nth-child(2n) {
      background-color: var(--sn-stylekit-background-color);
    }
  }

  p code {
    padding: 3px 6px;
    background-color: var(--sn-stylekit-background-color);
    color: var(--sn-stylekit-info-color);
    border: 1px solid var(--sn-stylekit-border-color);;
    border-radius: 3px;
  }

  blockquote {
    padding: 0 0.5rem;
    margin-left: 0;
    color: var(--sn-stylekit-neutral-color);
    border-left: 0.3rem solid var(--sn-stylekit-background-color);
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }
}

.editor-preview-active {
  border: 0;
}

.CodeMirror {
  background-color: var(--sn-stylekit-editor-background-color) !important;
  color: var(--sn-stylekit-editor-foreground-color) !important;
  border: 0 !important;

  .CodeMirror-code .cm-comment {
    background: var(--sn-stylekit-contrast-background-color);
    color: var(--sn-stylekit-info-color);
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    font-size: 90%; // font-family makes font look a bit big
  }

  .cm-header {
    color: var(--sn-stylekit-editor-foreground-color);
  }

  // Faded Markdown syntax
  .cm-formatting-header, .cm-formatting-strong, .cm-formatting-em {
    opacity: 0.2;
  }

  .cm-variable-2 {
    color: var(--sn-stylekit-info-color) !important;
  }

  .cm-link, .cm-string, .cm-keyword {
    color: var(--sn-stylekit-info-color) !important;
  }

  .CodeMirror-linenumber { color: gray !important;
  }

}

.CodeMirror-cursor {
  border-color: var(--sn-stylekit-editor-foreground-color);
}

.CodeMirror-selected {
  background: var(--sn-stylekit-info-color) !important;
}

.CodeMirror-selectedtext {
  color: var(--sn-stylekit-info-contrast-color);
}

.CodeMirror-gutters {
  background-color: var(--sn-stylekit-background-color) !important;
  color: var(--sn-stylekit-editor-foreground-color) !important;
  border-color: var(--sn-stylekit-border-color) !important;
}

// remove built in simplemde rule
@media only screen and (max-width: 700px) {
  .editor-toolbar a.no-mobile {
    display: inline-block;
}
}